body {
    margin: 0%;
}

.top-pane {
    background-color: #464545;
}

.pane {
    display: flex;
    height: 50vh;
    padding: 10px;
}

.editor-container {
    flex-grow: 1;
    flex-basis: 0;
    flex-direction: column;
    display: flex;
    padding: 10px;
    background-color: #464545;
}

.editor-container.collapsed {
    flex-grow: 0;
}

.editor-container.collapsed .CodeMirror-scroll {
    position: absolute;
    overflow: hidden !important;
}

.expand-collapsed-btn {
    margin-left: .5rem;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
    padding: 4px 8px;
}

.expand-collapsed-btn:hover {
    border: white solid 0.5px;
    padding: 3px 7px;
    
}

.editor-title {
    display: flex;
    background-color: rgb(20, 20, 20);
    color: white;
    justify-content: space-between;
    padding: 12px;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

.CodeMirror {
    height: 100% !important;
}

.code-mirror-wrapper {
    flex-grow: 1;
    border-bottom-right-radius: 0.7rem;
    border-bottom-left-radius: 0.7rem;
    overflow: hidden;
}